html, body {
    width: 100%;
    height: 100%;
    margin: 0;
 }

* {
    margin: 0;
    padding: 0;
}

p {
    padding: 0 0 16px 0;
    line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #111;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2 {
    color: #444;
}

h4,
h5,
h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #555;
}

h5,
h6 {
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
    color: #000;
}

h6 {
    color: #888;
}

a,
a:hover {
    outline: none;
    color: #111;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
}

#main,
#header,
#logo,
#menubar,
#site_content,
#footer {
    margin-left: 0;
    margin-right: 0;
}

#main {
    
    background: url(../pictures/sdg2.jpeg) repeat-x;
    position: relative;
}


#logo {
    width: 800px;
    position: relative;
    height: 330px;
    background: url(../pictures/smile.jpg) no-repeat;
}

#logo_text {
    position: relative;
    top: 10px;
    right: 0px;
    left: 480px;
}

#logo h1,
#logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0;
}

#logo_text h1,
#logo_text h1 a,
#logo_text h1 a:hover {
    padding: 10px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.logo_color {
    color: #555;
}

#logo_text h2 {
    font-size: 130%;
    padding: 0;
    color: #444;
}

#menubar {
    width: 800px;
    height: 50px;
    padding: 8px 0 0 0;
    margin: -45px 0 0 0;
    position: relative;
    z-index: 1;
    float: right;
}

#menu li {
    float: left;
    margin: 5px 0 0 0;
    padding: 0 0 0 6px;
    list-style: none;
}

#menu li a {
    letter-spacing: 0;
    font: normal 105% arial, sans-serif;
    text-transform: uppercase;
    display: block;
    float: left;
    height: 20px;
    text-decoration: none;
    padding: 9px 22px 5px 16px;
    text-align: center;
    color: #fff;
    border: 0;
}

ul#menu li.selected a {
    height: 25px;
    color: #111;
    padding: 7px 22px 5px 16px;
}

ul#menu li.selected {
    margin: 7px 0 0 0;
    background: #f8f8f8;
}

ul#menu li a:hover {
    color: #888;
}

#site_content {
    width: 95%;
    overflow: hidden;
    background: #f8f8f8;
}

.sidebar {
    float: right;
    width: 180px;
    padding: 20px 25px 15px 15px;
}

.sidebar ul {
    width: 170px;
    padding: 4px 0 0 0;
    margin: 4px 0 30px 0;
}

.sidebar li {
    list-style: none;
    padding: 0 0 7px 0;
}

.sidebar li a,
.sidebar li a:hover {
    padding: 0 0 0 40px;
    display: block;
    background: transparent url(../pictures/whitelink.png) no-repeat left center;
}

.sidebar li a.selected {
    color: #444;
    text-decoration: none;
}

#content {
    text-align: left;
    width: 95%;
    float: left;
    padding: 20px 0 15px 30px;
    overflow: hidden;
}

#content ul {
    margin: 2px 0 30px 0;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgb(170, 210, 248);
    color: rgb(7, 7, 7);
    cursor: pointer;
    padding: 15px;
    width: 90%;
    text-align: left;
    font-size: 25px;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
.active, .accordion:hover {
    background-color: #ccc;
  }
  

.panel {
    padding: 0 15px;
    background-color: white;
    width: 90%;
    display: none;
    overflow: hidden;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  
#footer {
    width: 100%;
    height: 33px;
    padding: 20px 0 4px 0;
    text-align: center;
    background: rgb(210, 238, 245);
    color: #aaa;
    border-top: 1px solid #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 80%;
    overflow: hidden;
}

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
    background-color: blanchedalmond;
  }